@media(max-width:1300px){

    .header-list{
        display: none;
    }
    
    .side-list{
        display: block;
        width:750px;
    }
    
    
    .fa-bars{
        display: block;
        font-size:40px;
        color:black;
        position:absolute;
        top:30px;
        left:90%;
    }

    .participant img
    {
        width:800px;
        height:500px;
    }
        }
    
    
    
@media(max-width:670px){
    
    .header-list{
        display:none;
    
    }
    
    .side-list{
        display: block;
    }
    
    .fa-bars{
        display: block;
        font-size:40px;
        color:black;
        position:absolute;
        top:30px;
        left:90%;
    }

    .participant h3{
        width:90%;
    }

    .participant img{
        width:300px;
        height:180px;
    }
    }
    